<div class="row">
  <div class="col-xs-12">
    <div class="col-md-5" *ngFor="let recipeEl of recipes; let i = index">
     <div class="list-group-item" (click)="openDialog(recipeEl)">
       <span>{{recipeEl.name}}</span><br>
       <span>{{recipeEl.description}}</span><br>
       <img class="profile_image" [src]="recipeEl.image" alt="not found">
     </div>
    </div>
<!--     <app-recipe-item *ngFor="let recipeEl of recipes; let i = index"
                     [recipe]="recipeEl"
                     [index]="i"
                     >
    </app-recipe-item>
    <app-recipe-detail [recipes]="recipes"></app-recipe-detail> -->
  </div>
</div>

